@model TestExamenWeb.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>SubmissionDate</th>
                <th>TheoryScore</th>
                <th>PracticalScore</th>
                <th>PresentationScore</th>
                <th>TotalGrade</th>
            </tr>
        </thead>
        <tbody>
            <partial name="_ProjectRow" model="Model" />
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
